ENGINE=django.db.backends.postgresql
NAME=burger_queen_db2
USER=postgres
PASSWORD=admin123
HOST=localhost
PORT=5432

SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://user:password@host:port/dbname
